@import url("https://fonts.googleapis.com/css?family=Grenze:400,500|Lato:400,700&display=swap");
:root {
  --color-body-bgrd: #FFF;
  --color-link-default: #369;
  --spacing-layout-items: 2em; }

@-webkit-keyframes loadSlide {
  from {
    opacity: 0;
    transform: translate(-15em, -2em); }
  to {
    opacity: 1;
    transform: translate(0); } }

@keyframes loadSlide {
  from {
    opacity: 0;
    transform: translate(-15em, -2em); }
  to {
    opacity: 1;
    transform: translate(0); } }

.site {
  max-width: 60em;
  margin: 0 auto;
  padding: 2em; }
  .site-main, .site-sidebar {
    margin-bottom: var(--spacing-layout-items); }
  @media (min-width: 1024px) {
    .site.main-layout {
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-column-gap: 4em;
      grid-template-areas: "header header" "main sidebar" "footer footer"; }
      .site.main-layout .site-header {
        grid-area: header; }
      .site.main-layout .site-main {
        grid-area: main;
        padding: 0.5em; }
      .site.main-layout .site-sidebar {
        grid-area: sidebar;
        padding: 0.5em; }
      .site.main-layout .site-footer {
        grid-area: footer; } }

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font: 14px/1.5 "Lato", Georgia, serif;
  min-height: 100vh; }
  @media (min-width: 1024px) {
    html {
      font-size: 15px; } }
  @media (min-width: 1250px) {
    html {
      font-size: 16px; } }
  @media (min-width: 1600px) {
    html {
      font-size: 17px; } }

a {
  text-decoration: none;
  color: var(--color-link-default); }

.site-title,
h1, h2, h3, h4, h5, h6 {
  font-size: 2em;
  margin-bottom: 0.5em;
  font-family: Grenze, serif; }

li {
  list-style: none outside; }

.site-header {
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--spacing-layout-items);
  padding-bottom: calc(var(--spacing-layout-items) / 2); }
  @media (max-width: 1023px) {
    .site-header {
      text-align: center; } }
  @media (max-width: 650px) {
    .site-header {
      flex-wrap: wrap;
      justify-content: center; } }

.site-title {
  margin: 0;
  padding: 0;
  font-size: 2em; }
  @media (max-width: 1023px) {
    .site-title {
      text-align: center; } }
  .site-title a {
    display: block;
    padding: 0.5em 0; }

.site-nav {
  display: flex;
  align-items: center; }
  .site-nav > ul {
    display: flex;
    padding: 0; }
    @media (max-width: 1023px) {
      .site-nav > ul {
        flex-wrap: wrap;
        justify-content: center; }
        .site-nav > ul li:not(:last-child) {
          margin-bottom: 0.5em; } }
    .site-nav > ul ul {
      display: block;
      pointer-events: none;
      padding-top: 0.5em;
      position: absolute;
      top: 100%;
      left: 0;
      width: 15em;
      max-width: 100%;
      z-index: 1; }
      .site-nav > ul ul li {
        opacity: 0;
        transform: translateY(-1em);
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out; }
  .site-nav li {
    display: block;
    padding: 0 0.5em;
    position: relative; }
    .site-nav li li {
      padding: 0; }
      .site-nav li li:not(:last-child) {
        margin-bottom: 0.5em; }
    .site-nav li:hover ul {
      z-index: 100;
      pointer-events: all; }
    .site-nav li:hover li {
      opacity: 1;
      transform: translateY(0); }
    .site-nav li a.expandable-button:hover i {
      transform: rotate(90deg); }
  .site-nav a {
    display: block;
    padding: 0.5em 1em;
    border-radius: 0.3em;
    background: #EEE; }
  .site-nav > li:first-child {
    padding-left: 0; }
  .site-nav li:hover > a,
  .site-nav li.selected > a,
  .site-nav a:hover {
    background: var(--color-link-default);
    color: var(--color-body-bgrd); }
  .site-nav li i {
    margin-right: 0.4em; }

.gallery-nature {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  -webkit-animation: loadSlide 2s;
          animation: loadSlide 2s; }
  .gallery-nature li {
    transition: transform 0.3s ease-in-out; }
    .gallery-nature li:hover {
      transform: scale(1.2); }
  .gallery-nature .portrait img {
    height: 100%;
    width: auto; }
  .gallery-nature .landscape img {
    width: 100%;
    height: auto; }
  @media (min-width: 1024px) {
    .gallery-nature {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 0.8em;
      grid-auto-flow: dense; }
      .gallery-nature li {
        display: block;
        overflow: hidden; }
        .gallery-nature li.portrait {
          grid-column: span 2;
          grid-row: span 2; }
        .gallery-nature li.landscape {
          grid-column: span 2;
          grid-row: span 1; } }
